<form class='form' id='post-form'>
  <div class='row'>
    <div class='col-md-9'>
      <div>
        <h3>Post Title</h3>
        <input type='text' id='title-input' class='col-6 p-1' />
      </div>
      <div>
        <h3>Content</h3>
        <input type='text' id='content-input' class='col-6 p-3' />
      </div>
      <div>
        <button class='btn btn-primary mt-2' type='submit'>Create Post</button>
      </div>
    </div>
  </div>
</form>

<script src='/js/newpost.js'></script>