:root {
  --robin-egg: rgb(130, 171, 172);
  --azure: rgb(218, 244, 244);
  --whisp: rgb(243, 250, 250);
  --gray: rgb(109, 135, 135);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--azure);
  text-decoration: none;
}

body {
  background-color: var(--robin-egg);
}

#login-container,
#signup-container {
  background-color: var(--azure);
  padding: 16px;
  border-radius: 2%;
  box-shadow: 0 0.5rem 1rem;
}

.archivo {
  font-family: 'Archivo Black', sans-serif;
}

.post-container {
  background-color: var(--azure);
}

.post-card {
  background-color: var(--whisp);
}

.post-highlight {
  background-color: var(--gray);
  color: var(--whisp);
}
